body {
    background-color: aliceblue;
}

div {
    width: 75%;
    min-width: 500px;
    border: 1px solid #333333;
    margin-bottom: 1em;
    padding: 0.5em;
    background-color: white;
}

span.highlight {
    font-weight: bold;
    padding-left: 0.5em;
    padding-right: 0.5em;
}